  <tr>
    <td width="100%" style="word-wrap: break-word">
  <a href="{{Home_URL}}">  <b>{{Name}}</b></a>
 {{Directory}}/{{Garname}}
    {{Version}} 
</td>

<td>
    {{Blurb = "" ? Description : Blurb}}
</td>
  </tr>
