<tr>
<td width="100%" style="word-wrap: break-word">
    <a href="{{Home_URL}}">  <b>{{Name}}</b></a> </td> <td>
    {{Blurb = "" ? Description : Blurb}}<br>{{Cite = "" ? "" : "Cite: " & Cite & "<br>"}}
    {{Directory}}/{{Garname}}  {{Version}} </td> </tr>
